#sidebar-wrapper {
    background: url("../images/fondBarreAccueil.jpg") no-repeat fixed,  url("../images/fondBarreNoir.jpg") repeat-y fixed;
}
/*Image Plienne écran*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*Article*/
#contentArticle Article{
    border-radius: 9px;
    border: 1px solid black;
    margin-bottom: 15px;
}

/*header Article*/
.ArticleTitle{
    text-align: center;
    border-radius: 7px 7px 0px 0px;
    color: white;
    background: #333;

}
.ArticleTitle h4{
    margin-bottom: 0px;
}

/*Content Article*/
.content{
    background: rgba(51, 51, 51,0.15);
    padding: 10px;
}

.content p:last-child{
    margin-bottom: 0px;
}
.content li{
    list-style-type:none;
}
.imageArticleLi{
list-style-type:none;
}
.imageArticle{
text-align: center;
}
.Banner img{
    width: 100%;
    border-bottom: 1px solid black;
}
.Banner{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.NoBanner img{
    border-radius: 6px;
}
.ArticleBlue{
    color: #990000;
    font-weight: bold;
}

/*footer Article*/
.ArticleFooter{
    color: white;
    background: #333;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.ArticleFooter.row{
    margin-right: 0px;
    margin-left: 0px;
}
.ArticleFooter p{
    margin: 0px;
}
/*Content*/
#Wait p{
    text-align: center;
}
/*Desktop*/
@media(min-width:768px) {
    /*Content Article*/
    /*.NoBanner img{
        width: 75%;
    }*/
    .content{
        text-align: center;
    }
    .large{
        width: 50%;
    }
    .imageArticleLi{
        margin-left: -20px;
    }
    .ArticleTitle h4{
        padding: 15px;
    }
    .NoBanner img{
        cursor: pointer;
        transition: 0.3s;
        -webkit-filter: grayscale(100%);filter: grayscale(100%);
        -webkit-transition:all 0.5s ease-in-out;
        transition:all 0.5s ease-in-out;
    }
    .NoBanner img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        border-radius: 15px;
        -ms-transform: scale(1.1,1.1); /* IE 9 */
        -webkit-transform: scale(1.1,1.1); /* Safari */
        transform: scale(1.1,1.1); /* Standard syntax */
        -moz-box-shadow:    0 0 10px #000000;
        -webkit-box-shadow: 0 0 10px #000000;
        box-shadow:         0 0 10px #000000;
        z-index: 2;
    }
}
/*mobile*/
@media(max-width:767px) {
    /*Content Article*/
    .imageArticle img{
        /*width: 100%;*/
    }
    .imageArticleLi{
        margin-left: -40px;
    }
    .content p:last-child.ArticleContentLien{
        margin-top: -15px;
    }
    .large{
        width: 100%;
    }
    .ArticleTitle h4{
        padding: 15px 15px 0px;
    }
    .fleche{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .ContentArticle{
        cursor: pointer;
    }
    .fa-angle-down{
        -moz-transition: transform 0.75s;
        -webkit-transition: transform 0.75s;
        transition: transform 0.75s;
    }
    .content{
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }
}