.NotLangue{
    display: none;
}
.select-wrapper select{
    background: rgba(255,255,255,0);
    padding: 10px;
    border: 0px solid black;
    margin: auto;
    -webkit-appearance:none;
    outline:none;
    color: #6c757d;
}
span#FR{

    background: url("../images/FRLogo.jpg") no-repeat;
    height:30px;
    width: 55px;
}
span#EN{
    background: url("../images/ENLogo.jpg") no-repeat;
    height:25px;
}
.img-flag{
    margin: 0 !important;
    display: inherit !important;
    height: 15px;
    width: 18px;

}

#AllPerso ul li{
    font-size: 14px;
}