.NotLangue{
    display: none;
}
.select-wrapper select{
    background: rgba(255,255,255,0);
    padding: 10px;
    border: 0px solid black;
    margin: auto;
    -webkit-appearance:none;
    outline:none;
    color: rgb(240,240,240);
    border-bottom: 1px solid lightgrey;
    border-radius: 0px 0px 5px 5px;
}

.img-flag{
    margin: 0 !important;
    display: inherit !important;
    height: 15px;
    width: 18px;

}

#AllPerso ul li{
    font-size: 13px;
}