.NotLangue{
    display: none;
}
.select-wrapper select{
    background: rgba(255,255,255,0);
    padding: 10px;
    border: 0px solid black;
    margin: auto;
    -webkit-appearance:none;
    outline:none;
}
span#FR{

    background: url("../images/frLogo.jpg") no-repeat;
    height:30px;
    width: 55px;
}
span#EN{
    background: url("../images/enLogo.jpg") no-repeat;
    height:25px;
}